html, body {
	overflow-x: hidden;
}

#page-header {
	text-align: center;
	padding: 2em 1em;
	margin-bottom: 5em;
	background: #181b90;
	color: white;
}

.task-section {
	margin: 2em auto;
}

.btn {
	margin: 0.5em auto;
}

.red {
	color: red;
}

.green {
	color: green;
}

#task2-correct, #task2-incorrect {
	display: none;
}

#task3-content {
	padding: 1em;
	font-size: 100%;
	font-family: serif;
	display: none;
}

#task5-content {
	margin: 1em auto;
}

#task5-content p {
	text-align: justify;
}

#task5-content p.selected {
	background: maroon;
	color: white;
	padding: 0.2em;
}

#footer {
	background: #181b90;
	color: white;
	padding: 2em 1em;
	font-size: 90%;
}

#footer h2 {
	text-align: center;
	margin-bottom: 2em;
}